
.producto img {
    
    width: 100%; 
    
    
    height: 200px; 
    
    
    object-fit: cover; 
    
    
    transition: transform 0.3s ease-in-out; 
    
 
    border-radius: 8px;
    margin-bottom: 10px;
    border: none; 
}

.galeria .producto img:hover {
  transform: scale(1.05);     
}


.nav-link {
  color: white !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: #ffcc00 !important;
  text-decoration: underline;
}

.nav-link.active {
  color: #ffcc00 !important;
  text-decoration: none !important;
}
